@mixin button-base($bg-color) {
  padding: 8px 16px;
  font-size: 0.875rem; // 14px
  font-weight: 500;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  color: rgb(60, 66, 94);
  border: none;
}
